<ion-view view-title="修改密码">
    <ion-content class="main">
        <div class="card">
            <label class="item item-input">
                <span class="input-label">原密码：</span>
                <input type="password" name="oldpassword" ng-model="oldpassword" required>
            </label>
            <label class="item item-input">
                <span class="input-label">新密码：</span>
                <input type="password" name="password" ng-model="password" required>
            </label>
            <label class="item item-input">
                <span class="input-label">确认密码：</span>
                <input type="password" name="pwdconfirm" ng-model="pwdconfirm" required>
            </label>
            <button class="button button-block button-positive">提交修改</button>
        </div>
    </ion-content>
</ion-view>
