<ion-view view-title="爱肝一生">
    <ion-content>
        <div class="row">
            <div class="col">复诊日期</div>
            <div class="col col-75">2015-05-23（周五上午）</div>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>李医生的患友群</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:40</span>
              <h2>个管师</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <h2>小 瑞</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:20</span>
              <h2>李医生</h2>
              <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
