<ion-view view-title="我的方案">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon" ng-class="{true :'ion-android-arrow-back', false: 'ion-ios-arrow-back'}[isAndroid]" ng-show="showHistoryBack" ng-click="historyBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="changePlan()">更换方案</button>
    </ion-nav-buttons>
    <ion-content class="main">
        <div class="item item-image" ng-bind-html="remark">
        </div>
    </ion-content>
</ion-view>
