<ion-view view-title="选择成功">
    <ion-content class="main">
        <div class="list succ-page">
            <div class="item item-text-wrap text-center">
                <img class="doctor-photo" src="{{doctor.avatar}}">
            </div>
            <div class="item item-text-wrap text-center">
                <h2>{{doctor.nickname}}  已成为您的医生</h2>
                <button class="button button-positive button-block" ng-click="changeDoctorSucc()">返回</button>
            </div>
        </div>
    </ion-content>
</ion-view>
