<ion-view view-title="支付成功">
	<ion-content>
		<div class="contentbox">
			<img src="../img/payover.png" alt="" style="width:30px;height:30px;">
			<i class="item-notice-over" >您已成功提交</i>
		</div>
		<div class="item item-text-wrap" style='height:120px;font-size:14px;border:none;white-space: normal;margin-bottom:30px;'>
			<p>医生通过您的预约申请后，我们会短信告知您。您可以下载爱肝一生APP，享受医生更多的服务，如专属医生为您制定全年随访计划跟踪督导。</p>
		</div>
		 <div class="btnoption">
	  		<a class="button  button-positive" style="background:#19BEFE; width:40%;height:1%;border-radius: 4px;min-height:35px;line-height:35px; font-size:14px;" href="http://www.aiganyisheng.com/download/" >下载安肝一生APP</a>
        <a class="button  button-positive" style="background:#19BEFE; width:40%;height:1%;border-radius: 4px;min-height:35px;line-height:35px;font-size:14px;" href='#/my-reserv-order'>返回订单列表</a>
	    </div>
	</ion-content>
</ion-view>
