<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view view-title="menu">
    <ion-content>
      <ion-list>

       <!--  <ion-item><a href="#/login">登录</a></ion-item> -->
<!--         <ion-item check-login-state check-bind-doctor-res><a href="##">我要预约</a></ion-item>
<ion-item check-login-state check-bind-doctor-con><a href="##">我要咨询</a></ion-item> -->
        <ion-item check-login-state><a href="#/consult">我要咨询</a></ion-item>
        <ion-item check-login-state><a href="#/reserve">我要预约</a></ion-item>
        <ion-item check-login-state><a href="#/casereport">我的病历</a></ion-item>
        <ion-item check-login-state><a href="#/article">健康知识</a></ion-item>
        <ion-item check-login-state><a href="#/account">切换帐号</a></ion-item>
        <ion-item ><a href="http://www.aiganyisheng.com/download/">app下载</a></ion-item>

        <ion-item><a href="#/contract/T20161008175147889730067">签约服务</a></ion-item>
      </ion-list>
    </ion-content>
</ion-view>
