<ion-view view-title="修改支付密码">
    <ion-content style="background-color:#efeff4;">
        <ion-list class="tab-list no-lines padding list-inset">
            <ion-item class="item-input">
                <input type="text" ng-model="data.tel" placeholder="输入手机号">
            </ion-item>
            <ion-item class="item-input">
                <input type="text" ng-model="data.code" placeholder="验证码">
                <button class="button button-clear button-positive" ng-click="getCode(data.tel, 1)" style="margin-right:32px;text-decoration: none;font-size:12px">获取验证码</button>
            </ion-item>
            <ion-item class="item-input">
                <input type="password" maxlength="6" ng-model="data.pwd" placeholder="请设置六位数字支付密码">
            </ion-item>
            <ion-item class="item-input">
                <input type="password" maxlength="6" ng-model="data.confirmPwd" placeholder="请再次确认支付密码">
            </ion-item>
            <ion-item class="item-text-wrap">
            <p>初次设置支付密码时，需要验证您使用的手机，如果长时间接受不到验证码请联系客服。</p>
            </ion-item>
                <button class="button button-full button-positive" ng-click="setPwd(data.code, data.pwd, data.confirmPwd)">确定</button>
        </ion-list>
    </ion-content>
</ion-view>
