<ion-view hide-nav-bar="true" view-title="收货地址">
    <ion-content id="container" style="background-color:#f1f1f1;top:0;" has-header="false">
        <div ng-if="!isBuy">
            <div ng-hide="true" class="list">
                <div id="picfileRecipe" class="item item-input act-canvas">
                    <input class="picfile" name="insuranceRecipe" accept="image/*" type="file" />
                    <button class="button act-button-file icon-top ion-plus-round btnfile">上传登记表</button>
                    <div class="imgzip" onclick="scaleImg(this)">
                        <div></div>
                    </div>
                </div>
            </div>
            <div ng-hide="true" class="list">
                <div id="picfilePrescription" class="item item-input act-canvas">
                    <input class="picfile" name="insurancePrescription" accept="image/*" type="file" />
                    <button class="button act-button-file icon-top ion-plus-round btnfile">上传处方</button>
                    <div class="imgzip" onclick="scaleImg(this)">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="list act-list">
                <div style="width:100px;display:inline-block;text-align:center;" ng-repeat="item in list">
                    <label class="act-radio">
                        <input type="radio" name="productCode" ng-value="item.id" ng-model="$parent.productCode" />
                        <div class="act-radio-content">{{item.productName}}</div>
                    </label>
                    <a class="act-radio-a" href="#/detail" ng-click="viewDetail();">查看详情</a>
                </div>
            </div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">收件人</span>
                    <input id='txt' name="insurancePeople" ng-model="insurancePeople" type="text" placeholder="请与登记表上姓名一致" />
                </label>
                <label class="item item-input">
                    <span class="input-label">联系电话</span>
                    <input name="insuranceMobile" ng-model="insuranceMobile" type="tel" placeholder="您的手机号" />
                </label>
                <label class="item item-input">
                    <span class="input-label">详细地址</span>
                    <textarea name="insuranceAddress" style="width:70%" ng-model="insuranceAddress" cols="30" rows="2" placeholder="您的收货地址"></textarea>
                </label>
                <div class="item item-input row">
                    <label class="item item-radio col" style="border:0;">
                        <input type="radio" name="choice" ng-model="insuranceDistribution" value="00">
                        <div class="item-content" style="padding:16px 16px 16px 49px;">
                            按季度
                        </div>
                        <i class="radio-icon ion-checkmark" style="color:#39d059;left:12px;top:4px;font-size:22px;"></i>
                        <div style="height:22px;width:22px;border:1px solid #bbb;position:absolute;top:22px;left:24px;z-index:4;"></div>
                    </label>
                    <label class="item item-radio col" style="border:0;">
                        <input type="radio" name="choice" ng-model="insuranceDistribution" value="01">
                        <div class="item-content" style="padding:16px 16px 16px 49px;">
                            按年
                        </div>
                        <i class="radio-icon ion-checkmark" style="color:#39d059;left:12px;top:4px;font-size:22px;"></i>
                        <div style="height:22px;width:22px;border:1px solid #bbb;position:absolute;top:22px;left:24px;z-index:4;"></div>
                    </label>
                </div>
            </div>
            <div class="padding">
                <button type="submit" ng-click="saveProduct(insurancePeople, insuranceMobile, insuranceAddress, insuranceDistribution, productCode)" class="button button-block button-positive">确 认</button>
            </div>
            <div style="height:240px;"></div>
        </div>
        <div ng-if="isBuy">
            <div class="list">
                <div class="item item-avatar item-text-wrap" style="margin-bottom:6px" ng-repeat="item in list">
                    <img src="./img/icon.png">
                    <p>已预订：{{item.pro_name}}</p>
                    <p>订单号：<a href="#/order/{{item.id}}" ng-click="viewOrderDetail()" style="color:#32d350;text-decoration:underline">{{item.order_code}}</a></p>
                </div>
            </div>
            <div class="padding">
                <button type="button" ng-click="changeIsBuy()" class="button button-block button-positive">继续购买</button>
            </div>
        </div>
    </ion-content>
</ion-view>
