<ion-view hide-nav-bar="true" view-title="订单列表">
    <ion-content class="main" style="background-color:#fff;">
        <!--         <div class="item act-align-center" style="border:0;">
    <a class="button act-btn" href="{{uri}}">填写卡路里</a>
</div> -->
    <div class="padding" style="border:none;border-radius: 8px;">
        <div class="list item-text-wrap">
            <div class="item fr-order-detail">
                <p>订单号：<span class="item-note">{{orderDetail.order_code}}</span></p>
            </div>
            <div class="item fr-order-detail">
                <p>方案名称：<span class="item-note">{{orderDetail.planName}}</span></p>
            </div>
            <div class="item fr-order-detail">
                <p>有效时长：<span class="item-note">{{orderDetail.movementTime}}</span></p>
            </div>
            <div class="item fr-order-detail">
                <p>禁&#12288;&#12288;忌：<span class="item-note">{{orderDetail.taboo}}</span></p>
            </div>
            <div class="item fr-order-detail">
                <p>内&#12288;&#12288;容：<span class="item-note">{{orderDetail.planContent}}</span></p>
            </div>
        </div>
        </div>
        <div class="padding">
            <button type="button" ng-click="back()" class="button button-outline button-block button-positive">返回上一页</button>
        </div>
    </ion-content>
</ion-view>
