<ion-view view-title="充值返现">
    <ion-content style="top:0;background-color:#ffde9e;" has-header="false">
        <div class="item item-image" style="border:none;">
            <img src="img/act-bg.jpg" />
        </div>
        <div style="padding:10px 24px;">
            <p class="act-p">
                “爱肝一生”新年金猴送红包！
            </p>
            <p class="act-p">
                因广大战友的热情感动了我们。在2016年到来之际“爱肝一生”APP为答谢战友们在2015年里对我们的支持，再次进行金猴送红包活动。
            </p>
            <p class="act-p">
                成功预约——战友们只要能够成功预约，“爱肝一生”群聊界面将自动降下红包雨，先到先得哟 ~~~
            </p>
            <p class="act-p">
                成功充值——同预约一样，战友们只要充值成功，系统将把您的喜悦分享给大家，一样的是群聊红包送不停，先到先得哟 ~~~
            </p>
            <p class="act-p">
                <strong class="act-red">活动覆盖：全国范围内开展</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">活动时间：2016年2月2日至2月29日</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">活动规则：</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">战友预约成功，小瑞将在该战友的患友群里发红包，每人仅限参与一次。</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">战友充值成功，小瑞将在该战友的患友群里发红包，每人仅限参与一次。</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">红包金额：</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">1、充值金额≤8元，系统送8元红包； </strong>
            </p>
            <p class="act-p">
                <strong class="act-red">2、8<充值金额<50元，用户充值多少元，系统送多少元红包；</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">3、充值金额≥50元，系统均送50元的红包到群里。</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">4、预约金额≤8元，送8元红包； </strong>
            </p>
            <p class="act-p">
                <strong class="act-red">5、8<预约金额<50元，用户充值多少元，系统送多少元红包；</strong>
            </p>
            <p class="act-p">
                <strong class="act-red">6、预约金额≥50元，系统均送50元的红包到群里。</strong>
            </p>
            <p class="act-p">
                金额越多，红包越大！想要大红包的不要吝啬你的热情，木有抢到红包的朋友们可以向未参与过活动的战友们求助，乐趣多多，参与一次就会玩！
            </p>
            <div class="act-align-center">
                <button class="button act-btn-left" ng-click="reserve();">马上预约</button>
                <button class="button act-btn-right" ng-click="start();">马上充值</button>
            </div>
        </div>
    </ion-content>
</ion-view>
