<ion-view view-title="爱肝一生">
    <ion-content>
        <div class="row">
            <div class="col">患者数： 668 人</div>
            <div class="col col-50 item-icon-right">
                    医生数：8人
                </div>
            </div>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>李医生的患友群</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>李医生的患友群</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>李医生的患友群</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>李医生的患友群</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>李医生的患友群</h2>
              <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
