<ion-view view-title="我">
    <ion-content class="main">
        <div class="list">
            <a ui-sref="tab.info" class="item item-icon-left item-icon-right">
                <i class="icon ion-person"></i> 个人信息
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.doctors" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-time"></i> 我的医生
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.earning" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-time"></i> 我的收入
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.qa" class="item item-icon-right">
                <i class="icon ion-ios-arrow-right"></i> 常见问题
            </a>
        </div>
    </ion-content>
</ion-view>
