#report {
	font-size: 16px;
	font-family: "微软雅黑";
	background: #F4F4F4;
}

.bar .button.button-clear, .bar button.button-clear::before {
	font-size: 24px!important;
}

form {
	width: 100%;
	margin-left: 10px;
	margin-top: 30px;
}

.patient-check {
	margin-top: 80px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.patient-check button {
	width: 80%!important;
	height: 44px!important;
	background: #0099FF;
	border: 1px #fff solid!important;
	border-radius: 5px;
	color: #fff;
}

.patient-warm {
	width: 100%;
	padding: 10px;
	font-size: 12px;
}

.patient-warm span {
	color: #f00;
}

.patient-warm b {
	font-weight: 100;
	font-size: 12px;
}

.patient-row {
	margin-bottom: 20px;
	display: flex;
}

.patient-row label {
	width: 100px;
	text-align: right;
}

.patient-row .rowid {
	line-height: 30px;
}

.patient-row span {
	font-size: 14px;
    color: #9a9a9a;
    display: inline-block;
    height: 12px;
    line-height: 2rem;
}


.idendid {
	width: 180px;
	height: 30px!important;
	line-height: 24px!important;
	background: #fff;
	text-align: center;
}


/*-----------reportList----------*/

.patientreportItem {
	display: flex;
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-family: "微软雅黑";
	border-bottom: 1px solid #eee;
	background: #fff;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

.patientreportItem span:nth-of-type(1) {
	flex: 2;
	padding-left: 14px;
}

.patientreportItem .icon {
	display: inline-block;
	line-height: 44px;
	padding-left: 10px;
	padding-right: 10px;
	color: #9a9a9a;
}

.patientreportItem span:nth-of-type(2) {
	color: #9a9a9a;
}

.reportFirst {
	padding: 0 16px;
	margin-top: 25px;
	color: #9a9a9a;
	font-size: 12px;
}

.reportSecond {
	padding-left: 16px;
	margin-top: 150px;
	width: 100%;
	font-size: 14px;
}

.reportSecond img {
	display: block;
	margin: 0 auto;
}

.reportSecond p {
	padding: 0 16px;
	font-size: 14px;
	color: #6C6C6C;
}


/*------------reportDetail-----------*/

header {
	height: 44px;
	line-height: 44px;
	font-size: 13px;
}

.reportCon {
	background: #fff;
}

.reportDetailTop {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

.table {
	width: 100%;
}

.table tr {
	text-align: center;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}

.table thead {
	border: 1px solid #eee;
	border-right: none;
	border-left: none;
	color: #0099FF;
}

.table tr th:nth-of-type(1) {
	text-align: left;
	padding: 0 10px;
}

.table tr td:nth-of-type(1) {
	text-align: left;
	padding-left: 5px;
}

.table tr td:nth-of-type(4) {
	text-align: right;
	padding-right: 10px;
}

.reportTwo ul {
	height: auto;
}

.reportTwo ul li {
	border-bottom: 1px solid #eee;
	line-height: 44px;
	padding-left: 16px;
	font-size: 14px;
}

.reportTwo ul li span {
	color: #A0A0A0;
}

.reportTwo ul li b {
	font-weight: 400;
}

.reportTwo ul li:nth-of-type(3) {
	border-bottom: none;
	line-height: 26px;
	text-align: left;
	padding: 15px 12px 0 16px;
}

.reportTwo ul li:nth-of-type(3) span:nth-of-type(1) {
	color: #0099FF;
}

.reportThree ul li {
	border-bottom: 1px solid #eee;
	line-height: 44px;
	padding: 0px 16px 0 16px;
	font-size: 14px;
}

.reportThree ul li span {
	color: #A0A0A0;
}


/*------------patient-flup---------*/
.flupContent{	
	background:#E6E6E6;
}
.flupInfo{
	margin-top:15px;
}
.patientPhotoButton {
	width:100%;
	line-height:80px;
	text-align: center;
	font-size: 64px;
	color:#E6E6E6;
	
}

.tabs-striped .tab-item.tab-item-active {
	border-color: rgb(0, 153, 255);
}

.patientPhoto{
	width:100%;
	margin:0 auto;
	background:#fff;
	margin-bottom:10px;
	height:120px;
}
.patientPhoto p{
	text-align:center;
	padding-top:-20px;
}
.patientRow{
	line-height:25px;
	padding:5px 0;
	background:#fff;
}

.patientCol{
padding:0!important	;
text-align: center;
font-size:13px;
height:34px;
line-height:34px;
}
.patientColNo{
	border:none;
}
.patientItem{
	border:none;
	font-size:13px;
	padding:10px;
	margin-top:-15px;
	white-space: normal!important;
	min-height:20rem;
}
.patientItem .flexff{
	flex: 1;
	overflow-y: auto;
	
}
.patientItem .flexff p{
	font-size:13px;
	padding-top:10px;
}
.patientItem .flexff p span{
	font-weight:bold;
	font-size:16px;
	color:#111111;
}
.docItemVisit{
	padding: 0!important;
	border:none;
	font-size:13px;
	padding:10px;
	margin-top:-15px;
	white-space: normal!important;
	/*min-height:20rem;*/
}
.docItemVisit .flexff{
	overflow-y: auto;
}
.flup-active {
	border-bottom:2px solid #387ef5;
}

.flup-unactive {
	border-bottom:2px solid #e6e6e6;
}
.patientVisit-title{
	height: 28px;
	line-height: 28px;
	clear: both;
	padding-right: 10px;
}
.patientVisit-title {
	margin-left: 10px;
	margin-right:10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e6e6e6;
}					
.patientVisit-title h4{
	font-weight:bold;
	font-size: 16px;
	line-height: 40px;
	float: left;
}
.patientVisit-container{
	padding: 15px 10px 15px 10px;
	border-bottom: 6px solid #e6e6e6;
}
.patientVisit-container h4{
	font-weight:bold;
	width: 100%;
	font-size: 16px;
	margin-bottom: 5px;
}
.patientVisit-container div{
	width: 100%;
}
/*---------flupDetail-----------*/
.patientFlup{
	padding:10px 16px;
	width:100%;
}
.patientflupDetailImg{	
	width:100%;
}
.patientflupDetailImg img{
	width:25%;
	height:60px;
	border:none;
}
.flupJump{	
	background:#fff;
	border:none;
}
.flupJump a{
	text-decoration: none;
	color:#666;
	font-size:14px!important;	
}
