header {
  display: flex;
  padding: .1rem 0;
}
header .headImg {
  width: .75rem;
  height: .61rem;
  margin-left: .10rem;
}
header .headImg img {
  display: block;
  width: 100%;
  height: 100%;
}
header nav {
  flex: 1;
  font-size: .14rem;
}
header nav ul:nth-of-type(1) li:nth-of-type(1) {
  height: .20rem;
  line-height: .20rem;
  font-weight: bold;
}
header nav ul:nth-of-type(1) li:nth-of-type(2) {
  color: #999;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) .detail-inform {
  display: flex;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) .detail-inform li:nth-of-type(1) {
  font-size: .16rem;
  color: red;
  font-weight: bold;
  align-self: flex-end;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) .detail-inform li:nth-of-type(2) {
  margin-left: .5rem;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) .detail-inform li:nth-of-type(2) #number {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  line-height: 30px;
  text-align: center;
  font-size: .24rem;
  color: #666666;
  vertical-align: middle;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) .detail-inform li:nth-of-type(2) span {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  line-height: 30px;
  text-align: center;
  font-size: .24rem;
  color: #666666;
  vertical-align: middle;
}
header nav ul:nth-of-type(1) li:nth-of-type(3) .detail-inform li:nth-of-type(2) input {
  width: .30rem;
  height: .20rem;
  line-height: .20rem;
  text-align: center;
  border: 1px solid #AAAAAA;
  vertical-align: middle;
}
/*header结束*/
.tishi {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  background: #f4f4f4;
  font-size: .14rem;
}
.detail-form .detail-input {
  display: flex;
  margin-left: .1rem;
  font-size: .14rem;
  height: .4rem;
  line-height: 32px;
  border-bottom: 1px solid #aaa;
}
.detail-form .detail-input label {
  width: 1rem;
  color: #000000;
}
.detail-form .detail-input label i {
  color: red;
  margin-right: .1rem;
}
.detail-form .detail-input .labelRem {
  margin-left: .2rem;
}
.detail-form .detail-input .detail-recommend {
  outline: none;
}
.detail-form .detail-input input {
  flex: 2;
  border: none;
}
.detail-form .detail-words {
  width: 100%;
  font-size: .14rem;
}
.detail-form .detail-words label {
  margin-left: .3rem;
  display: block;
  height: 32px;
  line-height: 32px;
}
.detail-form .detail-words textarea {
  width: 90%;
  height: 68px;
  padding: 10px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  margin: auto 5px;
}
.bottom {
  margin-top: 70px;
  height: 40px;
  line-height: 40px;
}
.bottom ul {
  font-size: .16rem;
  display: flex;
  margin: auto .1rem;
}
.bottom ul li:nth-of-type(1) {
  flex: 2;
  text-align: center;
  background: #fff;
  color: #000000;
}
.bottom ul li:nth-of-type(2) {
  flex: 1;
  text-align: center;
  background: #4BA8F0;
  color: #fff;
}
