<ion-view hide-back-button="true">
    <ion-nav-title>
        {{tit}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="cancelBack()">取消</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="saveBack()">保存</button>
    </ion-nav-buttons>
    <ion-content class="wechat-home" style="background-color:#f8f8f8;">
        <ion-list ng-if="status==0">
            <!-- <ion-radio ng-model="doctor.profession" ng-value="'执业医师'">执业医师</ion-radio> -->
            <ion-radio ng-model="doctor.profession" ng-value="'住院医师'">住院医师</ion-radio>
            <ion-radio ng-model="doctor.profession" ng-value="'主治医师'">主治医师</ion-radio>
            <ion-radio ng-model="doctor.profession" ng-value="'副主任医师'">副主任医师</ion-radio>
            <ion-radio ng-model="doctor.profession" ng-value="'主任医师'">主任医师</ion-radio>
        </ion-list>
        <ion-list ng-if="status==1">
            <label class="item item-input">
                <textarea maxlength="150" rows="6" ng-model="doctor.adept" onchange="value=value.replace(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g, '')"></textarea>
            </label>
        </ion-list>
        <ion-list ng-if="status==2">
            <label class="item item-input">
                <textarea maxlength="255" rows="6" ng-model="doctor.intro" onchange="value=value.replace(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g, '')"></textarea>
            </label>
        </ion-list>
        <ion-list ng-if="status==3">
            <label class="item item-input">
                <textarea maxlength="255" rows="6" ng-model="doctor.brief" onchange="value=value.replace(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g, '')"></textarea>
            </label>
        </ion-list>
    </ion-content>
</ion-view>