<ion-view view-title="个管师-我">
    <ion-content>
        <ion-list>
            <ion-item href="#/tab/assistant/me/info">个人信息</ion-item>
            <ion-item href="#/tab/assistant/me/doctors">我的医生</ion-item>
            <ion-item href="#/tab/assistant/me/earning">我的收入</ion-item>
            <ion-item href="#/tab/assistant/me/qa">常见问题</ion-item>
            <ion-item href="#/tab/assistant/me/order">我的订单</ion-item>
            <ion-item href="#/tab/assistant/me/div">我的分级</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
