<ion-view view-title="我的信息">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-show="showHistoryBack" ng-click="historyBack()"></button>
    </ion-nav-buttons>
<!--     <ion-nav-buttons side="right">
    <a class="button" href="#/tab/doctor/me/edit">修改</a>
</ion-nav-buttons> -->
    <ion-content class="wechat-home">
        <a class="item item-thumbnail-left doctor-info item-text-wrap item-icon-right" href="#/tab/doctor/me/edit-detail">
            <img ng-src="{{doctor.icon}}">
            <h2>{{doctor.nickname}}</h2>
            <p>{{doctor.hospital}}</p>
            <p>{{doctor.offices + doctor.profession}}</p>
            <i class="icon ion-ios-arrow-forward" style="color:#aaa;font-size:16px;"></i>
        </a>
        <div class="item item-text-wrap" style="padding:16px 16px 0 16px;">
            <h3 class="item-title skill">擅 长</h3>
        </div>
        <a class="item item-text-wrap item-icon-right" style="padding:0 16px;" href="#/tab/doctor/me/edit/1">
            <p class="item-con">
                {{doctor.adept}}
            </p>
            <i class="icon ion-ios-arrow-forward" style="color:#aaa;font-size:16px;"></i>
        </a>
        <div class="item item-text-wrap" style="padding:16px 16px 0 16px;">
            <h3 class="item-title experience">职业经历</h3>
        </div>
        <a class="item item-text-wrap item-icon-right" style="padding:0 16px;" href="#/tab/doctor/me/edit/2">
            <p class="item-con">
                {{doctor.intro}}
            </p>
            <i class="icon ion-ios-arrow-forward" style="color:#aaa;font-size:16px;"></i>
        </a>
        <div class="item item-text-wrap">
            <h3 class="item-title schedule">二维码</h3>
            <div class="text-center" data-tap-disabled="true" on-hold="shareQRCode(doctor.code, doctor.userid, doctor.nickname, doctor.icon)">
                <img class="item-con" ng-src="{{doctor.code}}" />
            </div>
        </div>
        <div class="item comment">
            <span>评价（{{comment.total}}条）</span>
<!--             <span ng-star="comment.avg"></span>
<span>{{comment.avg}}分</span> -->
        </div>
        <ion-list>
            <div class="item comment-item item-text-wrap" ng-repeat="list in commentList">
                <span class="comment-name">{{list.name}}</span>
                <span ng-star="list.star"></span>
                <p>{{list.content}}</p>
            </div>
            <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="10%" class="active"><i class="icon ion-loading-d icon-refreshing"></i>
            </ion-infinite-scroll>
        </ion-list>
        <p style="margin:0px;padding:10px;color:#939393;text-align:center;" ng-if="commentList.length==0">—— 暂无评价 ——</p>
    </ion-content>
</ion-view>
