<ion-view view-title="影像">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-show="showHistoryBack" ng-click="historyBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-text-wrap">
                <p style="padding:12px;margin:4px;text-indent:2em;line-height:24px;">医学影像又称为医学成像，或影像医学，包含影像诊断学、放射学、内视镜、医疗用热影像技术、医学摄影和显微镜等。在疾病的诊断上提供了很大的科学和直观依据，为最终准确诊断提供了不可替代的作用，同时也很好的应于在治疗方面。</p>
                <p style="padding:12px;margin:4px;text-indent:2em;line-height:24px;">爱肝一生即将开启医学影像方面的服务项目，为广大医生及患者提供全面、专业、便捷的服务。敬请期待！</p>
            </div>
        </div>
    </ion-content>
</ion-view>
