<ion-view view-title="医生-我">
    <ion-content>
        <ion-list>
            <ion-item href="#/tab/doctor/me/followup/44829">随访方案</ion-item>
            <ion-item href="#/tab/doctor/me/info">个人信息</ion-item>
            <ion-item href="#/tab/doctor/me/assistant">我的个管师</ion-item>
            <ion-item href="#/tab/doctor/me/visit">出诊设置</ion-item>
            <ion-item href="#/tab/doctor/me/bed">加床设置</ion-item>
            <ion-item href="#/tab/doctor/me/earning">我的收入</ion-item>
            <ion-item href="#/tab/doctor/me/qa">常见问题</ion-item>
            <ion-item href="#/tab/doctor/me/result">复诊结果</ion-item>
            <ion-item href="#/tab/discover/school">爱肝学院</ion-item>
            <ion-item href="#/tab/discover/plan">病例讨论</ion-item>
            <ion-item href="#/tab/doctor/me/order-yigan">乙肝</ion-item>
            <ion-item href="#/tab/doctor/me/order-binggan">丙肝</ion-item>
            <ion-item href="#/tab/doctor/me/order-zhifanggan">脂肪肝</ion-item>
            <ion-item href="#/tab/doctor/me/order-ganai">肝癌</ion-item>
            <ion-item href="#/tab/doctor/me/order-yingxiang">影像</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
