<ion-view view-title="绑定失败">
    <ion-content class="main">
        <div class="list succ-page">
            <div class="item item-text-wrap text-center">
                <img style="width:55px;padding:10px 0;" src="./img/03.png" />
                <h2 style="font-size:18px;margin:10px 0 10px;color:#d20e0e;">绑定失败</h2>
                <h2 style="font-size:18px;margin:10px 0 10px;color:#d20e0e;">您的手机号码以其他身份注册过爱肝一生APP</h2>
                <div style="background-color:#00a0e9; height:1px; "></div>
            </div>
            <div class="item item-text-wrap">
                <p style="font-size:16px;margin:8px 0 8px;">温馨提醒：</p>
                <p style="font-size:16px;margin:8px 0 8px;">1、打开APP用此手机号码登录；</p>
                <p style="font-size:16px;margin:8px 0 8px;">2、如果忘记密码，请用此手机号码通过找回密码对密码进行重置；</p>
            </div>
            <div class="item item-text-wrap text-center">
                <a style="background:#00a0e9;border:none;padding:0px 42px;border-radius:8px;font-size:18px;text-shadow:1px 1px 0 rgba(0, 0, 0, .6)" href="http://www.aiganyisheng.com/download/aiganyisheng?username={{telphone}}" ng-click="download()" class="button button-positive">立即下载APP</a>
            </div>
        </div>
    </ion-content>
</ion-view>
