<ion-view view-title="加入成功">
    <ion-content class="main">
        <div class="list succ-page">
            <div class="item item-text-wrap text-center">
                <img style="width:55px;padding:10px 0;" src="./img/02.png" />
                <h2 style="font-size:18px;margin:10px 0 10px;color:#00a0e9;">您已经成功加入</h2>
                <h2 style="font-size:18px;margin:10px 0 10px;color:#00a0e9;">{{docName}} 医生 的治疗方案组</h2>
                <div style="background-color:#00a0e9; height:1px; "></div>
                <div style="width:100%; height:45%;display:flex;justify-content: space-around">
                  <p style="width:50%;border-right:2px solid #333;line-height:30px;color:#333;">
                    <i style="color:#ff4400">长按二维码</i>
                    <br/>关注公众号<br/>
                    即可通过微信<br/>
                    <i style="color:#ff4400">咨询/预约医生</i><br/>
                    <span style="font-size:14px;">微信公众号：爱肝一生</span>
                  </p>
                  <img src="./img/furuicode.png" alt="" style="width:120px;height:120px;margin-top:20px;">
                </div>
                <!-- <img style="width:100%;padding:20px 0;" src="./img/01.png" /> -->
                    <a style="margin-top:44px;background:#00a0e9;border:none;padding:0px 42px;border-radius:8px;font-size:18px;text-shadow:1px 1px 0 rgba(0, 0, 0, .6)" href="http://www.aiganyisheng.com/download/aiganyisheng?username={{telphone}}" ng-click="download()" class="button button-positive">立即下载APP</a>
            </div>
        </div>
    </ion-content>
</ion-view>
