<ion-view view-title="客服小福">
    <ion-content>
		<div class="padding">
			<h2>常用问答：</h2>
			<dl class="card">
				<dt class="item item-divider">1.如何提高我的账户安全性？</dt>
				<dd class="item item-text-wrap">您可以登录京东账户， 在“我的京东-账户信息-账户安全”里，通过经常性修改密码、绑定账户到邮箱和手机、设置支付密码的方式增加账户安全系数，保证账户安全。</dd>
				<dt class="item item-divider">2.启用安全控件登录有什么好处？</dt>
				<dd class="item item-text-wrap">启用安全控件登录后， 可以防止您输入的密码等数据被木马程序截取，保障您的帐户信息安全。</dd>
				<dt class="item item-divider">3. 如何使用安全控件？</dt>
				<dd class="item item-text-wrap">未安装控件用户需下载安全控件安装包-->点击安装包，根据引导完成安全控件安装后-->返回京东登录页刷新页面，即可使用安全控件。</dd>
				<dt class="item item-divider">4. 安全控件目前支哪些系统，哪些浏览器？</dt>
				<dd class="item item-text-wrap">目前支持Windows系统的如下浏览器：<br>
					1）IE系列、基于IE内核浏览器：IE6、7、8、9、360、遨游、世界之窗、腾讯TT；<br>
					2）非IE内核浏览器：Firefox、Chrome、Safari；<br>
					3）多内核浏览器：360极速、遨游3、QQ、搜狗。</dd>
			</dl>
			<button class="button button-block button-positive">拨打客服电话</button>
		</div>
		
	</ion-content>
</ion-view>