<ion-view view-title="爱肝一生">
    <ion-content>
        <div class="row">
            <div class="col">患者数： 167 人</div>
            <div class="col col-50 item-icon-right">
                <div class="list">
                    <a class="item-icon-right">
                    本月收入：888元
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#">

              <img src="../img/ionic.png">
              <span class="item-note">下午13:00</span>
              <h2>患友群</h2>
              <p>Nine Inch Nails</p>

            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:30</span>
              <h2>个管师</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a ui-sref="tab.customer-service" class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <h2>小 福（客服）</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="../img/ionic.png">
              <span class="item-note">下午13:50</span>
              <h2>李 红（患者）</h2>
              <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
