<ion-view view-title="我">
    <ion-content class="main">
        <div class="list">
            <a ui-sref="tab.doctor-info" class="item item-icon-left item-icon-right">
                <i class="icon ion-person"></i> 个人信息
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.casemanager" class="item item-icon-left item-icon-right">
                <i class="icon ion-person"></i> 我的个管师
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.visit" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-time"></i> 出诊时间
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-card"></i> 我的银行卡
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.earning" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-pie"></i> 我的收入
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a ui-sref="tab.qa" class="item item-icon-right">
                <i class="icon ion-ios-arrow-right"></i> 常见问题
            </a>
        </div>
    </ion-content>
</ion-view>
