<ion-view view-title="我的预约">
    <ion-content class="main">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div class="item-input-inset fr-attention">
            <label class="item item-radio item-input-wrapper fr-item-radio first">
                <input type="radio" name="status" ng-click="resizeScroll()" value="00" ng-init="status='00'" ng-model="status">
                <div class="item-content">
                    待确认
                </div>
            </label>
            <label class="item item-radio item-input-wrapper fr-item-radio last">
                <input type="radio" name="status" ng-click="resizeScroll()" value="01" ng-model="status">
                <div class="item-content">
                    已确认
                </div>
            </label>
        </div>
        <div class="list" ng-show="status=='00'">
            <p class="empty-title">{{msg00}}</p>
            <a class="item item-avatar" ng-repeat="reservation in reservationList | filter:{'status':'00'}">
                <img ng-src="{{reservation.avatar}}" ng-click="viewHistory($event, patient.userid)">
                <h2 class="energized">{{reservation.realname}}</h2>
                <p class="positive">疾病：{{reservation.disease}}</p>
                <p class="positive fr-text-right">{{reservation.subscribeTime}}（{{reservation.week}}{{(reservation.amOrPm == '0' ? '上午' : '下午')}}）</p>
                <div class="button-bar fr-button-bar-right"> 
                    <button class="button button-positive" ng-click='applyReserv(reservation.id)'>同意预约</button>
                    <button class="button" ng-click='rejectReserv(reservation.id)'>取消预约</button>
                </div>
            </a>
        </div>
        <div class="list" ng-show="status=='01'">
            <p class="empty-title">{{msg01}}</p>
            <a class="item item-avatar" ng-repeat="reservation in reservationList | filter:{'status':'01'}">
                <img ng-src="{{reservation.avatar}}" ng-click="viewHistory($event, patient.userid)">
                <h2 class="energized">{{reservation.realname}}</h2>
                <p class="positive">疾病：{{reservation.disease}}</p>
                <p class="positive fr-text-right">{{reservation.subscribeTime}}（{{reservation.week}}{{(reservation.amOrPm == '0' ? '上午' : '下午')}}）</p>
            </a>
        </div>
    </ion-content>
</ion-view>
