<ion-view view-title="出国治疗">
    <ion-content style="top:0;background-color:#e40036;" has-header="false">
        <div class="item item-image" style="border:none;">
            <img src="img/bg-1.jpg" />
        </div>
        <div class="padding">
            <p class="act-p act-yellow">
                内蒙古福瑞堂药品零售连锁有限责任公司资助爱肝一生APP年底战友关怀活动，开放战友众筹 甘倍轻-恩替卡韦胶囊 (每盒0.5mg X 7粒)，众筹活动时间自2015年12月15日至2016年1月15日：价值600元的5盒恩替卡韦胶囊，众筹价390元。价值1200元的10盒恩替卡韦胶囊，众筹价700元。价值2400元的20盒恩替卡韦胶囊，众筹价1300元。价值3600元的30盒恩替卡韦胶囊，众筹价1800元。

            </p>
            <p class="act-p act-white">
                参与众筹报名的规则：
            </p>
            <p class="act-p act-white">
                1.仅限战友本人参与。
            </p>
            <p class="act-p act-white">
                2.每位战友只能参与一次。
            </p>
            <p class="act-p act-white">
                3.战友需要上传正规医院处方（处方患者姓名与APP用户姓名完全相符，处方上包括恩替卡韦胶囊）。
            </p>
            <p class="act-p act-white">
                4.众筹报名费1元，不论最终审核是否符合众筹条件，报名费均不退还。
            </p>
            <p class="act-p act-white">
                5.经平台审核符合众筹条件的战友，我们将通过爱肝一生APP和短信通知该战友，并将该战友的众筹需求发给内蒙古福瑞堂药品零售连锁有限责任公司；经平台审核不符合众筹条件的战友，我们将通过爱肝一生APP和短信通知该战友不能参加众筹；
            </p>
            <p class="act-p act-white">
                6.内蒙古福瑞堂药品零售连锁有限责任公司将根据战友的众筹需求，主动联系符合众筹条件的战友。
            </p>
            <p class="act-yellow">
                （内蒙古福瑞堂药品零售连锁有限责任公司的网址http://www.furui-aigan.com、联系电话0471-3330325）
            </p>
            <div class="act-align-center">
                <button class="button button-energized act-btn" ng-click="start();">参 与</button>
            </div>
        </div>
    </ion-content>
</ion-view>
