<ion-view hide-nav-bar="true" view-title="印度之旅">
    <ion-content style="background-color:#fff;" class="form-style">
        <div class="item row no-border">
            <div class="col step active" style="border:none;">
                <p><span class="circle-num">1</span> 填写信息</p>
            </div>
            <div class="col step active" style="border:none;">
                <p><span class="circle-num">2</span> 支付定金</p>
            </div>
            <div class="col step active" style="border:none;">
                <p><span class="circle-num">3</span> 提交成功</p>
            </div>
        </div>
        <div class="item text-center no-border">
            <h2>提交成功</h2>
        </div>
        <div class="item item-text-wrap no-border">
            <p>服务人员将在72小时内与您联系，为您提供服务！</p>
        </div>
        <ion-item>
            <button class="button button-positive button-block" ng-click="succ()">确定</button>
        </ion-item>
    </ion-content>
</ion-view>
