<ion-view hide-nav-bar="true" view-title="印度之旅">
    <ion-content id="ydContent" class="main-page" style="background-color:#fff;">
        <section>
            <div class="thr1">
                <strong>福瑞承诺：印度3.8万，全程无加价</strong>
                <p>包含签证代办、预定往返机票、印度医院高级单间病房、专业医疗翻译、印度专家VIP面诊、印度医院专项检查及治疗、12周DAAs丙肝新药（美国吉利德原研索非布韦或Hetero生产的吉二代或Mylan 生产的达卡他韦）、1年专业肝病医生随访、10万/年肝癌保险等服务。</p>
            </div>
            <div class="stand center"><span>印度丙肝快团治疗特色</span></div>
            <div class="thr2">
                <dl>
                    <dt>
                        <img src="./img/ico1.gif">
                        <span>印度顶级医院合作&nbsp;<b>治疗保障</b></span>
                        <div class="clear10"></div>
                        <p>印度孟买SevenHills医院就诊，印度权威肝病专家1对1精心问诊。</p>
                    </dt>
                    <dd>
                        <img src="./img/ico2.gif">
                        <span>印度医院药房拿药&nbsp;<b>正品保障</b></span>
                        <div class="clear10"></div>
                        <p>3个月的DAAs丙肝新药,保证原研或授权生产的正品药物。</p>
                    </dd>
                    <dt>
                        <img src="./img/ico3.gif">
                        <span>1年肝病医生随访&nbsp;<b>康复保障</b></span>
                        <div class="clear10"></div>
                        <p>为期1年肝病医生后续指导，全程病情跟踪，专业健康管理。</p>
                    </dt>
                    <dd>
                        <img src="./img/ico4.gif">
                        <span>10万肝癌保险&nbsp;<b>安心保障</b></span>
                        <div class="clear10"></div>
                        <p>1年内患肝癌即获10万保障金，全方位的保障，更安心。</p>
                    </dd>
                </dl>
            </div>
            <div class="stand center">
                <span>印度丙肝治疗药物推荐</span>
            </div>
            <div class="item-pic outer-side-margin">
                <img src="./img/res/medicine-5.png" alt="索非布韦">
                <p><strong>药名：</strong>Sovaldi(sofasbuvir /索非布韦)</p>
                <p><strong>适应症：</strong>丙型肝炎 1、2、3、4型</p>
                <p><strong>药物用法：</strong>口服，一天一片</p>
                <p><strong>治疗效果：</strong>最高可达95%</p>
            </div>
            <div class="item-pic-right outer-side-margin">
                <img src="./img/res/medicine-4.png" alt="吉二代">
                <p><strong>药名：</strong>Ledifos( Ledipasvir&amp;Sofosbuvir/吉二代)</p>
                <p><strong>适应症：</strong>成人慢性丙型肝炎(CHC) 1型患者(单药治疗)</p>
                <p><strong>药物用法：</strong>口服，一天一片</p>
                <p><strong>治疗效果：</strong>最高可达98%</p>
            </div>
            <div class="item-pic outer-side-margin">
                <img src="./img/res/medicine-2.png" alt="达卡他韦">
                <p><strong>药名：</strong>MyDacla(Daclatasvir/达卡他韦)</p>
                <p><strong>适应症：</strong>丙肝1型患者</p>
                <p><strong>药物用法：</strong>口服，一天一片</p>
                <p><strong>治疗效果：</strong>最高可达99%</p>
            </div>
            <div class="stand center">
                <span>印度丙肝推荐治疗方案</span>
            </div>
            <div class="center">
                <img src="./img/ydzlfa.png">
                <p class="bg-gray"><small>来源丙肝防治指南（2015更新版） 中华医学会肝病分会和感染病学分会权威发布的官方文献</small></p>
            </div>
            <div class="stand center">
                <span>印度合作医院</span>
            </div>
            <div class="center">
                <img src="./img/res/hospital-1.png">
            </div>
            <h5>战略合作医院——印度孟买SevenHills医院</h5>
            <p class="text-indent">SevenHills医院是亚洲最大的医院之一，拥有16栋大楼，20万平米建筑面积，超过1500张病床，也是印度最现代化的医院，拥有超过25年的医疗传承，建立了与患者为中心的良好的就医环境，向患者提供先进且专业的医疗服务。SevenHills医疗集团在印度维沙卡帕特南及孟买均成立了自己的综合医疗保健系统。</p>
            <h5>SevenHills为福瑞设置一间专属检查室，确保福瑞患者享受VIP绿色通道：</h5>
            <p class="text-indent"> 1、入院前医院将患者资料录入系统，无需填写任何资料，更简便高效</p>
            <p class="text-indent">2、为患者提供1对1专属检查，无需等待</p>
            <p class="text-indent">3、检查结果优先处理</p>
            <p class="text-indent">4、医院为患者提供高级单间病房</p>
            <div class="stand center">
                <span>印度丙肝专家</span>
            </div>
            <div class="item-pic outer-side-margin">
                <img src="./img/res-pc/pic-7.jpg">
                <p><strong>C.Vasudev 医学博士</strong></p>
                <p>拥有10多年的肝病、肠胃病和消化道内窥镜的临床经验</p>
                <p>教育经历：</p>
                <p>·桑贾伊·甘地POST研究所胃肠病学和肝病医学</p>
                <p>·医学博士，新德里印度理工学院学医学科内科医学系</p>
                <p>·医学学士，本地治里尼赫鲁学院研究生医学教育与研究</p>
            </div>
            <div class="stand center">
                <span>印度服务明细</span>
            </div>
            <h5>整体费用：<span class="red">3.8万</span>人民币。</h5>
            <p class="text-indent">服务费用包含赴印度治疗的全程费用和随访费用（明细见下表），不包含回国后的检查费用。</p>
            <div class="center">
                <img src="./img/ydfw.png">
            </div>
            <div class="stand center">
                <span>印度服务流程</span>
            </div>
            <div class="center">
                <img src="./img/res/pic-12.png">
            </div>
            <div class="stand center">
                <span>印度行程安排</span>
            </div>
            <div class="center">
                <img src="./img/res/pic-13.png">
            </div>
            <div class="stand center">
                <span>印度报名准备</span>
            </div>
            <h5>赴印度治疗前需要准备的报告：</h5>
            <div class="center">
                <img src="./img/ydjc.png">
            </div>
        </section>
        <div class="fixed-bottom" style="height:101px;"></div>
    </ion-content>
    <div class="fixed-footer">
        <div class="item row" ng-if="!hasSigned">
            <div class="col-50 padding">
                <a href="tel:400-7791-122" ng-click="tel('400-7791-122')" class="button button-block button-assertive">电话咨询</a>
            </div>
            <div class="col-50 padding">
                <button ng-click="signUp('yd');" class="button button-block button-assertive">立即订购</button>
            </div>
        </div>
        <div class="item row" ng-if="hasSigned">
            <div class="col padding">
                <a href="tel:400-7791-122" ng-click="tel('400-7791-122')" class="button button-block button-assertive">电话咨询</a>
            </div>
        </div>
    </div>
</ion-view>
