<ion-modal-view>
    <ion-content>
        <ion-list class="tab-list no-lines">
            <ion-item class="item-icon-left" style="padding-top:16px;">
                <i class="icon ion-ios-close-empty" style="color:#aaa;font-size:48px;" ng-click="closeAgreementModal()"></i>
            </ion-item>
        </ion-list>
        <ion-list class="tab-list no-lines padding list-inset">
            <ion-item class="item-text-wrap">
                <h2 style="text-indent: 2em;">“爱肝一生医生端”协议</h2>
                <pre>
    本协议由同意并承诺遵守本协议规定使用爱肝一生平台服务的法律实体（下称"咨询医师"）、内蒙古福瑞医疗科技股份有限公司（下称"福瑞"）共同缔结，本协议具有合同效力。
    一、定义
    1、服务平台：指福瑞的APP平台，本协议具体指福瑞的“福瑞爱肝一生医生端”。
    2、咨询医师：指同意并承诺遵守本协议规定使用爱肝一生平台向服务平台的用户提供医疗咨询解答服务的享有相应资质的医生。
    3、服务：指咨询医师通过本协议服务平台向服务平台用户提供医疗问题解答，医疗知识传播等。
    4、咨询账户：是指咨询医师在服务平台上，用于接收咨询的个人实名账户。
    5、账户：用于接收服务平台上服务费的个人实名银行账户。
    二、协议内容及生效
    1、本协议内容包括协议正文及所有服务平台已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。福瑞将就服务平台制定特别规则（下称"特别规则"），如特别规则与服务平台其他规则存在冲突，则以特别规则为准。
    2、咨询医师在使用服务平台提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。福瑞有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，福瑞将在网站、APP上以公示形式通知咨询医师。如咨询医师不同意相关变更，必须立即以书面通知的方式终止本协议。任何修订和新规则一经在服务平台公布即自动生效，成为本协议的一部分。登录或继续使用服务将表示咨询医师接受经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。
    3、咨询医师签署或在线接受本协议并不导致本协议立即生效，经过福瑞审核通过并向咨询医师发出服务开通通知时，咨询医师首次登陆时本协议即在咨询医师和福瑞之间产生法律效力。本协议不涉及咨询医师与服务平台其它用户之间因网上交易而产生的法律关系及法律纠纷。
福瑞保留在任何时候自行决定对服务及其相关功能、应用软件变更、升级的权利。福瑞进一步保留在服务中开发新的模块、功能和软件或其它语种服务的权利。上述所有新的模块、功能、软件服务的提供，除非福瑞另有说明，否则仍适用本协议。服务随时可能因福瑞的单方判断而被增加或修改，或因定期、不定期的维护而暂缓提供，咨询医师将会得到相应的变更通知。咨询医师在此同意福瑞在任何情况下都无需向其或第三方在使用服务时对其在传输或联络中的迟延、不准确、错误或疏漏及因此而致使的损害负责。
    三、证明文件提交
    1、证明文件提交：咨询医师欲使用本协议下服务，必须向福瑞提交其在申请服务时提供信息的相关证明。具体证明信息内容如下：
        ①医师执业证；
        ②医师职称证书（或工作证、医院聘书）；
        ③个人证件照（或个人清晰头像）；
        ④身份证；
        ⑤咨询医师出具的证明联系人获得咨询医师授权的证明；
        ⑥其他福瑞认为需查验的信息。
    2、信息变更的通知：协议期内，上述信息（包括相关证明文件）的任何变更咨询医师都应及时通知福瑞，如上述信息变更后使得咨询医师不再具备履行本协议的情形出现时，福瑞有权立即终止或中止本协议。
    3、责任条款：咨询医师同意为其未及时的通知或更新其信息承担全部责任，咨询医师保证其向福瑞提供的全部证明文件真实、准确且不存在超过时效问题（即保证所有证明文件在整个合同履行期间都处于有效期内）如因上述原因发生纠纷或被相关国家主管机关处罚，咨询医师应当独立承担全部责任，如给福瑞（包括其合作伙伴、代理人、职员等）造成损失的，咨询医师同意赔偿其全部损失。
    四、申请条件与注册
    1、注册者资格：
    申请使用服务的咨询医师必须同时满足以下条件：
        ①咨询医师在完成注册程序或实际使用咨询服务时，应当是具备完全民事权利能力和完全民事行为能力的自然人；
        ②持有中华人民共和国《执业医师资格证》；
        ③提交了本协议第三条约定的相关证明文件并获得福瑞认可；
        ④若咨询医师不具备前述主体资格，则咨询医师应承担因此而导致的一切后果，且福瑞有权注销（永久冻结）咨询医师的咨询账户，由此造成的损失，福瑞有权向咨询医师索偿。
    2、咨询账户：
    咨询医师签署本协议，完成注册程序后，福瑞会向咨询医师提供唯一编号的咨询账户。咨询医师可以设置或修改账户密码。咨询医师应对自己的咨询账户和密码的安全负责。除非有法律规定或司法裁定，且征得福瑞的同意，否则，账户不得以任何方式转让、赠与或继承。如果发现任何人不当使用咨询医师账户或有任何其他可能危及咨询医师账户安全的情形时，咨询医师应当立即以有效方式通知福瑞，要求福瑞暂停相关服务。咨询医师向福瑞提供所需注册资料、阅读并同意本协议、完成全部注册程序后，即成为福瑞注册医师。在后续的使用过程中，咨询医师应当及时更新自己的资料，以使之真实、及时，完整和准确。
    五、咨询医师的权利和义务
    1、应符合咨询医师的申请条件，且向福瑞提供真实、合法、准确、有效的注册资料，并保证其诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，保证福瑞及其他用户可以通过上述联系方式与自己进行联系。同时，咨询医师也有义务在相关资料实际变更时及时更新有关注册资料。咨询医师保证不以他人资料在服务平台进行注册。
    2、咨询医师在咨询中的言行需遵守国家法律、法规等规范性文件及福瑞的各项规则和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。如果因此产生任何法律后果的，咨询医师应以自己的名义独立承担法律责任。
    3、咨询医师不得以虚构或歪曲事实的方式不当评价其他福瑞医生，不采取不正当方式制造或提高自身的评价度及信用度，不采取不正当方式制造或提高（降低）其他福瑞医生的评价度及信用度。福瑞有权对咨询医师违反本条规范的行为进行指正、警告、甚至永久冻结咨询医师的福瑞咨询医师。
    4、咨询医师在咨询中的工作不得影响咨询医师在所属医疗机构中的本职工作。咨询医师因此与咨询医师所属医疗结构产生的纠纷，由咨询医师自行承担，福瑞不负任何法律责任。
    5、咨询医师应就其在谈判、签署和履行本协议过程中所知悉或获取的福瑞的有关信息和资料予以保密。未经福瑞书面同意，咨询医师不得向第三方披露该等信息。该保密义务不因本协议的任何可能的无效、解除或终止而无效、解除或终止。如本协议宣布无效、解除或终止，双方应继续持续履行相关的保密义务。
    6、任何咨询医师在线接受本协议并不当然导致本协议发生法律效力，本协议是附条件生效协议，即必须经过福瑞对其提交的全部资料审核通过后方可生效。同时，咨询医师认可福瑞有权独立的对其提供资料、证明文件、权限开通申请进行评估、判断。审核结果以福瑞评估、判断为准，其对此不持有任何异议。
    六、福瑞的权利和义务
    1、福瑞承诺在“爱肝一生医生端”所开展的业务均取得国家规定的相关资质，并受到中国法律保护；福瑞有义务在现有技术上维护整个服务平台上交易平台的正常运行，并努力提升和改进技术，使咨询医师的服务得以顺利进行。
    2、对咨询医师在注册使用服务中所遇到的与服务或注册有关的问题及反映的情况，福瑞应及时作出回复。
    3、因服务平台的特殊性，福瑞没有义务对所有咨询医师的服务行为以及与服务有关的其它事项进行事先审查，但如存在下列情况：
        ①第三方通知福瑞，认为某个具体咨询医师或具体服务事项可能存在重大问题；
        ②咨询医师或第三方向福瑞告知服务平台上有违法或不当行为的；福瑞以普通非专业人员的知识水平标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，福瑞有权根据不同情况选择删除相关信息或停止对该咨询医师提供服务平台，并追究相关法律责任。
    4、福瑞有权对咨询医师的注册数据及服务行为进行查阅，发现注册数据或服务行为中存在任何问题或怀疑，均有权向咨询医师发出询问或要求改正的通知，或者直接作出删除等处理。
    5、经国家生效法律文书或行政处罚决定确认咨询医师存在违法行为，或者福瑞有足够事实依据可以认定咨询医师存在违法或违反协议行为的，福瑞有权在服务平台公布咨询医师的违法和/或违规行为。
    6、福瑞负责免费为咨询医师在“爱肝一生医生端”上搭建咨询医师与其患者会员、个案管理师进行交流沟通及会员向医生发起预约加号请求的平台，并提供技术与服务支持。同时该咨询医生下的患者可在平台上向咨询医师发起图文咨询、语音咨询、预约加号等服务申请。
    7、咨询医师授权甲方在“爱肝一生医生端”上开设咨询医师与其患者、个案管理师的对话平台，并在对话平台中开展医疗咨询服务。
    8、福瑞有权根据“爱肝一生医生端”用户对咨询医师回答问题质量的评价以及其他专业、学术指标将咨询医师与其他福瑞医生进行排名。
    9、咨询医师在使用“爱肝一生医生端”时接受福瑞的免责协议：“爱肝一生医生端”中所有医疗信息、图文影像信息、电话咨询信息等皆不作为诊断结果和医疗的证据，用户只能作为参考。福瑞与咨询医师均不承担用户使用和咨询可能产生的医疗风险和责任。
    10、福瑞有义务保护咨询医师的保密资料及隐私信息（需要公布在平台中的资料和信息除外）的安全，不得泄露咨询医师的隐私，否则，因此造成咨询医师的损失，咨询医师可向福瑞索赔。
    11、福瑞除给咨询医师提供平台用于进行医疗咨询服务外，双方还可协商，利用福瑞资源为咨询医师个人品牌进行包装、推广；为咨询医师所拥有的医疗健康方面的学术观点、知识产权、专利、论文等进行推广服务；为咨询医师提供基于其个人积累的信息和数据进行整合分析、数据挖掘的服务，用于临床和科研工作。具体的合作模式可双方另起协议或规则进行约定。
    12、咨询医师在此授予福瑞独家的、全球通用的、永久的、免费的许可使用权利 (并有权对该权利进行再授权)，使福瑞有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示咨询医师公示于网站的各类信息或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。
    13、福瑞有权根据业务调整情况将本协议项下的全部权利义务一并转移给其关联公司，此种情况将会提前30天以网站公告的形式通知咨询医师。咨询医师承诺对此不持有异议。
    七、费用规定
    福瑞将按月在每月5日起、一周内（遇周末和节假日顺延），将咨询医师在“爱肝一生医生端”赚取的服务费打入咨询医师指定账户，报酬包括：用户支付的咨询费、福瑞给与的奖励。上述报酬福瑞有权按照福瑞制定的服务费结算规则执行。福瑞有权根据需要制定和修改规则，但必须提前一周以电子邮件及或附件形式发送到咨询医师指定的电子邮件地址，同时在“爱肝一生医生端”应用中进行公示。
    八、协议的终止
    1、通知解除：协议任何一方均可以提前三天通知终止本协议。
    2、福瑞单方解除权：
        ①如咨询医师违反“爱肝一生医生端”的任何规则或本协议中的任何承诺或保证，包括但不限于本协议项下的任何约定，福瑞都有权立刻终止本协议，且按有关规则对咨询医师进行处罚；
        ②若咨询医师屡次违反本协议或相关规定，经福瑞提醒仍不改正的；或因咨询医师的言行对福瑞造成人民币1000元以上损失的，福瑞有权终止与咨询医师的协议，并冻结咨询医师的咨询账号、注册账号等。
    3、若双方无法达成一致，福瑞无权强制咨询医师使用“爱肝一生医生端”。咨询医师可根据自己意愿，随时、随地终止“爱肝一生医生端”的使用。咨询医师完全终止“爱肝一生医生端”使用后一年或咨询医师通过电子邮件形式告知福瑞，本协议将自动终止。在协议终止前、账号注销前，咨询医师均可随时、随地自行再次开通“爱肝一生医生端”的使用。本协议终止后咨询医师的福瑞医生账号将被自动注销，之后福瑞无权使用、展示您的肖像、资料等信息。
    4、本协议规定的其他协议终止条件发生或实现，导致本协议终止。
    5、协议终止后有关事项的处理：
        ①协议终止后，福瑞没有义务为咨询医师保留咨询账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给咨询医师或第三方。亦不就终止协议而对咨询医师或任何第三者承担任何责任；
        ②无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，咨询医师必须完全且独立地承担；
        ③协议终止后，福瑞有权保留该咨询医师的注册数据及以前的服务行为记录。如咨询医师在协议终止前在服务平台上存在违法行为或违反协议的行为，福瑞仍可行使本协议所规定的权利。
    九、协议期限
    本协议经咨询医师在线接受且经过福瑞审核通过后（或书面签署后）即告生效，除非本协议规定的终止条件发生，本协议将持续有效。双方另有约定的除外。
    十、有效通知
    本协议下所规定的通知有权要求以书面形式通过以下邮址递交收悉，通知的到达以福瑞收悉为准。
    福瑞地址：北京市朝阳区新源里16号琨莎中心2座7层。
    邮编：100027 ； 收件人：福瑞市场部 （收）
    福瑞可自scb@fu-rui.com邮址向咨询医师在“爱肝一生医生端”注册时提供的电子邮件地址发出通知。通知的送达以邮件发出为准。
    十一、保密条款
    1、本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及在合作过程中涉及的其他秘密信息。任何一方未经商业秘密提供方同意，均不得将该信息向任何第三方披露、传播、编辑或展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将另持续三年。
    2、因对方书面同意以及国家、行政、司法强制行为而披露商业秘密的，披露方不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。
    十二、有限责任
    1、不论在何种情况下，福瑞均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。
    2、不论是否可以预见，不论是源于何种形式的行为，福瑞不对由以下原因造成的任何特别的，直接的，间接的，惩罚性的，突发性的或有因果关系的损害或其他任何损害（包括但不限于利润或利息的损失，服务中断，资料灭失）承担责任。
    3、使用或不能使用服务平台。
    4、未经授权的存取或修改数据或数据的传输。
    5、第三方通过服务所作的陈述或行为。
    6、其它与服务相关事件，包括疏忽等，所造成的损害。
    十三、违约责任
    1、咨询医师同意赔偿由于使用服务（包括但不限于将咨询医师资料展示在网站上）或违反本协议而给福瑞造成的任何损失（包括由此产生的全额的诉讼费用和律师费）。咨询医师同意福瑞不对任何其张贴的资料，包括诽谤性的，攻击性的或非法的资料，承担任何责任；由于此类材料对其它用户造成的损失由咨询医师自行全部承担。
    2、咨询医师承诺，不会采取任何手段或措施，包括但不限于明示或暗示用户或通过其他方式转移其可以通过服务平台在线达成的服务交易，或达成交易后不经由福瑞收取交易金额，以规避福瑞获取服务费。否则将视为严重违约，福瑞将有权立即终止本协议，暂扣应向咨询医师支付的服务费，还可就违约行为向咨询医师追偿。
    3、除本协议及服务平台规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。
    十四、争议解决及其他
    1、本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以北京市海淀 区人民法院为第一审管辖法院。
    2、如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。
    3、福瑞于咨询医师过失或违约时放弃本协议规定的权利的，不得视为其对咨询医师的其他或以后同类之过失或违约行为弃权。
                </pre>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
