<ion-view view-title="爱肝一生">
    <ion-content style="background-color: rgb(247, 247, 249)">
        <ion-list class="tab-list no-lines">
            <ion-item class="item-image">
                <img src="./img/regSuccessHeaderImg.png" />
            </ion-item>
            <ion-item class="item-text-wrap">
                <p style="text-indent: 2em;">您填写的注册信息已提交成功，我们会对信息进行审核，并会以电话形式通知您审核进展，请您保持电话通畅。
                </p>
                <p style="text-indent: 2em;">如有问题，可拨打客服热线:400-779-1122进行咨询。
                </p>
            </ion-item>
            <ion-item>
                <a href="http://www.aiganyisheng.com/download/aiganyishengdoctor" class="button button-full button-positive">下载爱肝一生医生版APP</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
