<ion-view hide-nav-bar="true" view-title="脂肪肝患者征集令">
    <ion-content style="background-color:#f0eeea;">
        <div class="item item-image" style="border:none;">
            <img src="img/bg-1.jpg" />
        </div>
        <div class="item item-text-wrap" style="background-color:#f0eeea;border:none;">
            <div style="text-align:center;margin-top:36px;">
                <button class="button button-positive button-block" style="border:none;" ng-click="signUp();">立即报名</button>
            </div>
            <div class="item item-text-wrap text-center" style="background-color:#f0eeea;border:none;">
                <h2 style="font-size:22px;color:#758c77">—— <i class="icon ion-ribbon-b"></i> 项目背景 ——</h2>
            </div>
            <p class="act-p">脂肪肝是指由于各种原因引起的肝细胞内脂肪堆积过多的病变。脂肪性肝病正严重威胁国人的健康，成为仅次于病毒性肝炎的第二大肝病，已被公认为隐蔽性肝硬化的常见原因。</p>
            <p class="act-p">香港天下仁心医疗中心正在开展一项美国FDA批准的全球多中心的脂肪肝II期临床试验，主要评价脂肪肝新药Aramchol治疗非酒精性脂肪性肝炎的有效性和安全性。</p>
            <div class="item item-text-wrap text-center" style="background-color:#f0eeea;border:none;">
                <h2 style="font-size:22px;color:#758c77">—— <i class="icon ion-happy"></i> 入选标准 ——</h2>
            </div>
            <p class="act-p">1、年龄18-75岁，男女均可；</p>
            <p class="act-p">2、身高体重指数 (BMI: 25－40 或 男性腰围102-200厘米/女性腰围88-200厘米；</p>
            <p class="act-p">3、空腹血糖>100mg/dl (5.5mmol/l) ；</p>
            <p class="act-p">4、无慢性肝炎，肝硬化及其它肝病；</p>
            <p class="act-p">5、无酗酒史；</p>
            <p class="act-p">6、愿意到香港接受治疗。</p>
            <p class="act-gray">注：具体入选标准将有医生严格把控</p>
            <div class="item item-text-wrap text-center" style="background-color:#f0eeea;border:none;">
                <h2 style="font-size:22px;color:#758c77">—— <i class="icon ion-trophy"></i> 入选奖励 ——</h2>
            </div>
            <p class="act-p">如果您符合纳入标准及同意参加本研究，您将有机会获得:</p>
            <p class="act-p">免费脂肪肝新药Aramchol的治疗；</p>
            <p class="act-p">7次免费往返香港的机会，食宿、往返机票、医院检查全部报销；</p>
            <p class="act-p">治疗期间将在专业的医生指导下进行；</p>
            <p class="act-gray">注：更多奖励报名详细了解期待您的加入！</p>
            <div class="item item-text-wrap text-center" style="background-color:#f0eeea;border:none;">
                <h2 style="font-size:22px;color:#758c77">—— <i class="icon ion-ios-telephone"></i> 联系方式 ——</h2>
            </div>
            <p class="act-p">如果您符合以上条件，并且有意愿参加本项目，请电话咨询我们。</p>
            <p class="act-p">联系人：陈可</p>
            <p class="act-p">联系电话：<a href="tel:13683662345" ng-click="tel('13683662345')">13683662345</a></p>
            <p class="act-p">邮箱：<a href="mailto:chenke@fu-rui.com" ng-click="mailto('chenke@fu-rui.com')">chenke@fu-rui.com</a></p>
        </div>
    </ion-content>
</ion-view>
