<ion-view hide-tabs="false" view-title="密码修改">
    <ion-content style="background-color:#efeff4;">
        <ion-list class="tab-list no-lines form-style">
            <ion-item class="item-input">
                <i class="icon ion-ios-unlocked-outline placeholder-icon" style="text-align:center;font-size:28px;width:42px;"></i>
                <input type="password" placeholder="请输入原密码" ng-model="pwd.oldPwd">
            </ion-item>
            <div class="login-line"></div>
            <ion-item class="item-input">
                <i class="icon ion-ios-unlocked-outline placeholder-icon" style="text-align:center;font-size:28px;width:42px;"></i>
                <input type="password" placeholder="请输入新密码" ng-model="pwd.newPwd">
            </ion-item>
            <div class="login-line"></div>
            <ion-item class="item-input">
                <i class="icon ion-ios-unlocked-outline placeholder-icon" style="text-align:center;font-size:28px;width:42px;"></i>
                <input type="password" placeholder="再次确认密码" ng-model="pwd.confirmPwd">
            </ion-item>
            <div class="login-line"></div>
            <ion-item>
                <button class="button button-full button-positive" ng-click="changePassword(pwd.oldPwd, pwd.newPwd, pwd.confirmPwd)">提交修改</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
