<ion-view hide-tabs="true" view-title="常见问题">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-ios-arrow-back" ng-if="showHistoryBack" ng-click="historyBack()"></button>
    </ion-nav-buttons>
    <ion-content class="main advisory">
        <ul class="list">
            <li class="item item-text-wrap" ng-repeat="item in qaList">
                <a ui-sref="tab.qa-detail({id: {{item.article_id}}})" style="color:#666;">
                    {{$index + 1}}、 {{item.title}}
                </a>
            </li>
        </ul>
        <div class="item item-image" ng-if="hasLoaded && qaList.length==0">
            <img src="img/default.png">
        </div>
    </ion-content>
</ion-view>
