<ion-view view-title="加入成功">
    <ion-content class="main">
        <div class="list succ-page">
            <!-- <div class="item item-text-wrap text-center">
                <img class="doctor-photo" src="{{doctor.avatarzxc}}">
            </div> -->
            <div class="item item-text-wrap text-center">
                <h2>{{doctor.title1}}</h2>
                <h2>{{doctor.title2}}</h2>
                <p style="text-indent: 2em;text-align:left;">{{doctor.content1}}</p>
                <p style="text-indent: 2em;text-align:left;">{{doctor.content2}}</p>
                <p style="text-indent: 2em;text-align:left;">爱肝一生会员版为您与主管医生之间建立紧密联系的沟通渠道，为您与同一医生管理下的战友建立安全、可信任的，互相鼓励、互相帮助、随时随地深入交流的移动互助平台。</p>
                <!-- <p>    您选定主管医生并加入疾病管理计划后，能够获得自己的主管医生在线下面诊与线上互动相结合的咨询服务，还可以得到个案管理师按照主管医生为您专门制定的疾病管理方案的复诊提醒和随访服务。</p> -->
                <p style="text-indent: 2em;text-align:left;"> 一生的肝病照护，只为您！</p>
                <!-- <p><a href="http://www.aiganyisheng.com/download/aiganyisheng">点击这里下载“爱肝一生”手机客户端</a></p> -->
                <!-- <a href="http://www.aiganyisheng.com/download/aiganyisheng" class="button button-positive button-block">下载爱肝一生会员版App</a>
                <p style="text-align:right;color:#ef473a;"> 上客户端，领30元资助奖励！</p> -->

            </div>
            <div class="item item-button-right" style="border:1px solid #00a0e9;border-radius:4px;padding:0;margin:0 12px;background:#efefef;">
                    <p style="margin:15px 10px;text-align:left;">上客户端，领30元资助奖励！</p>
                    <a href="http://www.aiganyisheng.com/download/aiganyisheng" class="button button-positive">下载</a>
                </div>

        </div>
    </ion-content>
</ion-view>
