<ion-view view-title="预约吧，战友！">
    <ion-content style="background-color:#ffde97;top:0;" has-header="false">
        <div class="item item-image" style="border:none;">
            <img src="img/bro.jpg" />
        </div>
        <div class="item item-text-wrap" style="margin:10px;background-color:#ffde97;border:none;">
            <p style="text-indent:2em;color:#758c77;font-size:14px;line-height:22px;"> 预约吧，战友们！“爱肝一生”APP送福利啦，如果您公务繁忙不想浪费时间去医院排队，那么加入我们的“预约吧战友”活动行列中来吧，不论你在哪里，轻松一点随时随地均可与医生进行预约，现在就开始尝试吧，我们的活动将在11月开始，为期一个月，成功预约一次的我们会将相应的预约金额立即返现至您的APP账户中。 </p>
            <div style="text-align:center;margin-top:36px;">
                <button class="button button-energized" style="width:90%;min-height:34px;line-height:34px;padding:0;margin:0 auto;background-color:#f89615;border:none;box-shadow:0px 2px 5px rgba(34, 34, 34, .4);" ng-click="signUp();">预 约</button>
            </div>
        </div>
        <div class="item item-image" style="border:none;">
            <img src="img/bro-2.jpg" />
        </div>
    </ion-content>
</ion-view>
