<ion-view view-title="充值返现">
    <ion-content style="top:0;background-color:#dc2c34;" has-header="false">
        <div class="item item-image" style="border:none;">
            <img src="img/act-bg.jpg" />
        </div>
        <div class="padding">
            <p class="act-p act-yellow">
                为了加强对战友们在爱肝一生ＡＰＰ上活动的支持，我们12月开始进行为期一个月的成功充值一次立即奖励的活动。
            </p>
            <p class="act-p act-yellow">
                活动覆盖：全国范围内开展
            </p>
            <p class="act-p act-yellow">
                活动时间：12月1日至12月31日
            </p>
            <p class="act-p act-yellow">
                活动规则：每人当月仅限参与一次
            </p>
            <p class="act-p act-yellow">
                奖励规则：
            </p>
            <p class="act-p act-yellow">
                1、充值金额 <50元，用户充值多少元，系统奖励多少元；
            </p>
            <p class="act-p act-yellow">
                2、充值金额 ≥50元，均奖励50元。
            </p>
            <div class="act-align-center">
                <button class="button button-energized act-btn" ng-click="start();">马上充值</button>
            </div>
        </div>
    </ion-content>
</ion-view>
