<ion-view hide-nav-bar="true" view-title="肝保宝">
    <ion-content style="background-color:#c6f3ff;">
        <!-- <div class="fixed-bottom" style="height:101px;"></div> -->
        <div class="item act-align-center item-text-wrap" style="border:0;background-color: transparent;">
            <h2 style="color:#227e20;font-size: 18px;">肝保宝肝癌保障计划会员公约</h2>
            <button class="button act-btn" ng-click="start();">马上加入</button>
        </div>
        <div class="padding" style="padding:10px 20px;">
            <pre style="color:#227e20;">
    第一条 宗旨与目标
    助人者，人恒助之。 本平台旨在以互联网技术连接你我，凝聚社会正能量，以公平、公正、公开的方式，提供0门槛的互助保障计划，帮助会员共享保障，共担风险，实现“我为人人，人人为我”的目标。 

    第二条  会员权利 
    在会员享有权利期间内，若会员于等待期（释义一）后首次发病（释义二），并被专科医生（释义三）在其生存时首次确诊患有肝癌（释义四），平台经审核确认后，为会员发起资助活动募集互助金。

    第三条  不予提供资助的情形
    会员有下列情形之一或导致患有肝癌的，其他会员没有义务提供互助：
    1.  会员未获得或已丧失会员资格的；
    2.  会员在加入时，或在审核调查过程提供虚假信息（含虚假联系方式），刻意隐瞒事实或未履行如实告知义务的；
    3.  会员在加入时或加入后的等待期内已患有肝癌、肝硬化的。
    4.  会员在等待期满以后确诊罹患肝癌，但是在等待期内已经通过其他任何诊断手段发现疑似，或者已经开始实施针对的治疗；
    5.  会员故意犯罪或者抗拒依法采取的刑事强制措施；
    6.  会员故意自伤；
    7.  会员主动吸食或注射毒品；
    8.  会员酒后驾驶、无合法有效驾驶证驾驶，或驾驶无有效行驶证的机动车；
    9.  战争、军事冲突、暴乱或武装叛乱；
    10. 核爆炸、核辐射或核污染；
    11. 遗传性疾病（释义五），先天性畸形、变形或染色体异常；
    12. 会员感染艾滋病病毒或患艾滋病。

    第四条 加入保障计划 
    1. 加入保障计划必须实名制
    针对爱肝一生APP用户，加入保障计划有相应的补贴（详见爱肝一生APP相关说明）
    2. 会员可加入一个或多个保障计划，每个保障计划独立运行。 
    3. 同一会员以不同账号重复加入同一保障计划的，所受保障额度不叠加。 
    4. 会员加入肝癌保障计划须同时满足以下条件：
    （1） 年龄18至65周岁；
    （2） 加入之时未患有肝癌及无重大疾病史；

    第五条 申请资助流程
    会员不幸患有肝癌或因肝癌身故的，申请流程如下：
    1.  互助申请人（会员或其法定继承人）在会员首次确诊肝癌病症之日起的30日内通过通知平台并填写和提交申请表。如会员身故，其法定继承人应在90日内提出申请，否则视为自动放弃受助权利。
    2.  互助申请人在平台受理申请后7日内按照平台的要求提交各类证明材料。
    3.  初审受助人符合平台规则后，互助申请人需要预付3000元的审核保证金。如申请经调查为虚假，则没收充作审核费用；如最终审核通过，则退还给互助申请人。
    4.  平台收齐互助申请证明材料后委托独立第三方评估机构或者具有相关专业知识的人员，对申请事件进行评估和鉴定，形成调查结论，有争议或疑难的事件，由相关专家进行审定。
    5.  申请情况清晰明确的，审核时间为互助申请人完整提交材料后30个工作日内，情况复杂的为60个工作日内，特别复杂的为90个工作日内。
    6.  审查结束后，平台将每月定期进行公示，公示期为15天，在公示期间接受其他互助社员的质询；不符合规则的，平台将告知申请人。
    7.  公示期满的30天内，进入1个月的筹款期。平台在筹款期下月1日，计算每位互助社员的均摊金额，并从每位会员的个人账户上划拨相应款项。
    8.  互助金归集完毕后，则在10个工作日内一次性向互助申请人划拨资金。
    9.  若有会员在公示期间有依据地对申请人资料提出异议，平台根据异议情况要求互助申请人解释说明或补充提交材料，并再次进行审定。
    0. 如果会员已向平台书面申请肝癌互助金，但在实际领取互助金前身故，平台会将互助金支付给其法定继承人，其法定继承人应提供材料证明其资格；如果有多个法定继承人，应委托一人接收互助金并提供委托公证书；

    第六条  申请所需材料
    1.  正规医疗机构出具的医疗诊断书。医疗机构级别须为三级医院。
    2.  住院或门（急）诊病历资料。
    3.  医院（释义六）出具的富有病理显微镜检查、血液检验及其他科学方法检验报告的疾病诊断证明。

    第七条  互助金计算
    1.  会员权利：肝癌互助金最高募集金额上限为3万元。 
    2.  会员实际得到的互助金需要扣除相应费用，包括：委托第三方审核的费用、通讯费、第三方支付手续费。
    3.  会员不幸罹患肝癌，其他会员将义务地进行均摊式互助，针对一次个体案例，每人每次均摊不超过10元。
    4.  会员分摊计算办法：受助人权利之和/(筹款月上月末总人数*0.8)。会员须在有分摊义务的当月充入指定资金。扣款时根据筹款月实际参与人数进行计算扣除（未成年人以0.5人扣除）。

    第八条  会员资格存续
    1.  如会员有一次因为任何原因未能履行互助义务，将自动丧失互助资格。
    2.  会员可自愿在线退出平台。
    3.  受助会员自行选择退出或者留在平台履行义务。
    4.  丧失会员资格后，符合条件重新加入的，等待期自加入次日起重新计算。

    第九条   释义
    一、  等待期：会员加入之日起九十日内（含第九十日）为等待期。若会员在等待期期间首次发病或被确诊患肝癌，则平台不发起资助活动募集互助金。 
    二、发病：会员出现肝癌的前兆或异常的身体状况，或已经显现足以促使一般普通谨慎人士引起注意并寻求诊断、治疗或护理的病症。
    三、专科医生：
    专科医生应当同时满足以下四项资格条件：
    （1）具有有效的中华人民共和国《医师资格证书》；
    （2）具有有效的中华人民共和国《医师执业证书》，并按期到相关部门登记注册；
    （3）具有有效的中华人民共和国主治医师或主治医师以上职称的《医师职称证书》；
    （4）在二级或二级以上医院的相应科室从事临床工作三年以上。
    若在境外（释义七）就诊并被医生确诊，则医生的资格须符合以下条件：
    指在境外医院内行医并拥有处方权的医生，亦指在境外接受诊断、医疗、处方或手术的地区内合法注册且有行医资格的医生；但不包括会员本人、会员的代理人、合伙人、雇员或雇主，或会员的家庭成员，如配偶、兄弟、姐妹、父母、子女以及其他具有类似亲密关系的人。
    四、肝癌： 
    指肝恶性细胞不受控制的进行性增长和扩散，浸润和破坏周围正常组织，可以经血管、淋巴管和体腔扩散转移到身体其他部位的疾病。经病理学检查结果明确诊断，临床诊断属于世界卫生组织《疾病和有关健康问题的国际统计分类》（ICD-10）的恶性肿瘤范畴。原位癌不在保障范围内。 
    五、遗传性疾病
    指生殖细胞或受精卵的遗传物质（染色体和基因）发生突变或畸变所引起的疾病，通常具有由亲代传至后代的垂直传递的特征。
    六、医院：指符合下列所有条件的机构，
    （1）拥有合法经营执照；
    （2）设立的主要目的为向受伤者和患病者提供留院治疗和护理服务；
    （3）有合格的医生和护士提供全日二十四小时的医疗和护理服务。
    作为康复医院、诊所、护理、疗养、戒酒、戒毒或类似的医疗机构均不属于本附加合同的医院范围。
    七、境外：指除中国大陆以外的国家和地区，该地区包括台湾、香港、澳门地区。
            </pre>
        </div>
        <div class="fixed-bottom" style="height:44px;"></div>
    </ion-content>
<!--     <div class="fixed-footer">
    <div class="item" style="background-color:#c6f3ff;">
        <button style="background-color: #49e3d6;border:0;" ng-click="start();" class="button button-block button-positive">马上加入</button>
    </div>
</div> -->
</ion-view>
